.App{
  padding-top: 50px;
}

.map {
  height: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  border: 2px solid #bcc3c5;
}

.location-search-form{
  max-width: 400px;
}
